# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# Build & packaging artifacts
*.exe
*.o
*.obj
*.s
*.c
*.egg-info/
dist/
build/

# Environment
.venv/
env/

# Private proprietary compiler implementation
compiler/
compiler_backup/
tests/
